*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #131112;
  --white: #fff;
  --grey: #c5ccd2;
  --light-orangish-brown: #cdac97;
  --moderate-orange: #c67553;
  --light-greyish-brown: #a9a39b;
  --dark-red: #8e282f;
  --greyish-yellow: #c3c2be;
  --light-greyish-blue: #f0f0f2;
  --dark-greyish-blue: #676d7b;
  --very-dark-grey: #232122;
  --dark-cyan-blue: #263038;
}

body {
  background-color: var(--light-greyish-blue);
}

.mansion {
  width: 100%;
  margin-top: 100px;
}

.outer-left-section {
  width: 10%;
  background-color: var(--very-dark-grey);
  position: relative;
}

.outer-left-roof {
  width: 0;
  height: 0;
  border-left: 5vw solid var(--light-greyish-blue);
  border-right: 5.3vw solid var(--light-greyish-blue);
  border-bottom: 3vw solid transparent;
}

.outer-left-column {
  height: 400px;
  border-right: 5px solid var(--white);
  border-bottom: 15px solid var(--grey);
}
